/*##########
    IMPORT FONTS CSS
##########*/

@import url('fonts.css');
@import url('animations.css');

/*#####   FIN     #####*/


/*##########
    DEFAULT STYLES
##########*/

*{margin: 0; padding: 0;}
body{width: 100%; height: 100%; font-family: 'Barlow', sans-serif;}

/*Pre title*/

.pre-title{
    display: flex;flex-direction: row;align-items: center;justify-content: flex-start;
    width: fit-content;
    margin-bottom: 25px;
    color: #003B99;
}
.pre-title hr {
    background-color: #003B99;
    height: 1px;
    width: 50px;
    margin: 0 20px;
}
.pre-title span{
    color: inherit;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

/*Titles*/

h1,h2, h3, h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
}
h1{
    font-size: 4.2rem;
    line-height: 5.5rem;
}
h2,h3,h4{
    color: #000;
}
h2{
    font-size: 3.2rem;
    line-height: 5.2rem;
    margin-bottom: 15px;
}
h3{
    font-size: 2.5rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
h4{
    font-family: 'Barlow';
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

/*Buttons*/
.button{
    text-decoration: none;
    padding: 15px 20px;
    border:1px solid #000;
    color: #000;
    font-family: 'Barlow';
    transition: 0.2s ease;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button i{
    margin-left: 15px;
}
.button .icon-reverse{
    margin-left: 0;
    margin-right: 15px;
}
.button-primary{
    color: #003B99;
    border-color: #003B99;
}
.button-secondary{
    color: #AFAFAF;
    border-color: #AFAFAF;
}
.button-primary:hover{
    background: #003B99;
    color: #fff;
    text-decoration: none;
}


/*Icons Section*/
.icon-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.icon-section img{
    height: auto;
    margin: 5px 25px;
    filter: grayscale(1);
    opacity: 0.5;
    transition: 0.2s;
}
.icon-section img:hover{
    filter: grayscale(0);
    opacity: 1;
}

/*#####   FIN     #####*/


/*##########
    SECTION CONTAINERS
##########*/
.section-home{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
}
.section-home-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-single{
    width: 100%;
    max-width: 1100px;
}
.section-single-full{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.section-double, .section-double-full{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-double-full{
    max-width: 100%;
}
.section-double-inner, .section-double-full-inner{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
}
.section-double-full-inner{
    width: 50%;
    padding: 0;
}
.section-double-full-contain{
    min-height: 700px;
    padding: 75px 50px;
}

/*BACKGROUND*/
.section-double-full-inner .img-container{
    display: flex;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    min-height: 700px;
}
.separator{
    width: 100%;
    display: flex;
    position: relative;
}
.min-separator{
    height: 30px;
}
.middle-separator{
    height: 75px;
}
.big-separator{
    height: 100px;
}
/*#####   FIN     #####*/


/*##########
    PARAGRAPHS SECTIONS
##########*/

.p-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.p-section p{
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 400;
    color: #55555F;
    margin-bottom: 10px;
}

.p-section-min p{
    font-size: 1.8rem;
}
/*#####   FIN     #####*/


/*##########
    OTHER STYLES
##########*/

#header-menu .button-primary{
    padding: 6px;
    color: #fff;
    border-color: #FFF;
    width: 150px;
    font-family: 'Barlow' !important;
}
#header-menu .button-primary:hover{
    color: #000;
    background: #fff;
}

.icon-home{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

/* MISION & VISION */
#mision-vision .section-double-inner{
    background: #EFF3F6;
}
#mision-vision .section-double-inner .icon-home{
    -webkit-animation: floathome 1s infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
#mision-vision .section-double-inner:last-child .icon-home{
    animation-delay: 1s;
}


.section-double-full-inner .section-double-full-contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#boss-section .section-double-full-contain{
    background: #1B264C;
}
#boss-section .section-double-full-inner .img-container{
    background-image: url(../images/ceo2.jpg);
}
#boss-section .section-double-full-contain .pre-title{
    color: #fff;
}#boss-section .section-double-full-contain .pre-title hr{
    background-color: #fff;
}

#boss-section .section-double-full-contain h2, 
#boss-section .section-double-full-contain h3,
#boss-section .section-double-full-contain h4{
    color: #fff;
}
#boss-section .section-double-full-contain h4 span{
    color: #006BF9;
    
}
#boss-section .section-double-full-contain .title{
    margin-bottom: 25px;
}
#boss-section .section-double-full-contain h2{
    font-weight: 600;
}




/*ATS FOR DEVS*/
#atsfordevs-section .section-double-full-inner .atsfordevs-img{
    background-image: url(../images/img1.png);
}
#atsfordevs-section .section-double-full-inner .section-double-full-contain .p-section{
    margin-bottom: 25px;
}

/* TERCER SECTION */
#tres-section .section-double-full-inner .section-img{
    background-image: url(../images/img2.png);
}

#tres-section .section-double-full-inner .section-double-full-contain .p-section{
    margin-bottom: 25px;
}
/*#####   FIN     #####*/


#partners-section .sub-title{
    margin-bottom: 25px;
}

/* CONTACT SECTION */

#contact-section{
    background: #1B264C;
}

#contact-section .pre-title{
    margin-top: 75px;
    color: #fff;
}
#contact-section .pre-title hr{
    background: #ffffff8f;
}

#contact-section .title h1{
    color: #fff;
}

#contact-section .p-section{
    margin-bottom: 50px;
}
#contact-section .p-section p{
    color: #fff;
    line-height: 2.5rem;
}

#contact-section .form-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/*Estilos formulario*/
    .label-text{
        color: #FFFFFFAF;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: 1px;
    }
    .input-select, .input-text{
        width: 100%;
        padding: 20px 25px;
        border:1px solid #FFF;
        color: #fff;
        font-size: 1.8rem;
        font-family: 'Barlow';
        background: none;
    }
    .input-select option{
        background: #FFF;
        color: #000;
    }
    .input-select:focus, .input-text:focus{
        outline: none;
    }
    .input-select option:first-child{
        color: #0000005f !important;
    }

    /*Boton*/
    #contact-section .button.button-primary, #contact-section .button.button-secondary{
        border-color: #FFF;
        color: #000;
        background: #FFF;
        width: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
    }#contact-section .button.button-primary:hover{
        background: #003B99;
        color: #FFF;
        border-color:#003B99;
    }
    #contact-section .button.button-secondary{
        background: none;
        color: #FFF;
    }
    #contact-section .button.button-secondary:hover{
        
    }

    .indicador{
        display: flex;
        justify-content: space-evenly;
        margin-top: 4%;
    }
    .formatopunto p{
        color: #FFFFFF2F;
        font-size: 2em;
    }
    .formatoraya hr{
        height: 1px;
        width: 18em;
        background: #FFFFFFAF;
        margin: 1.5em 0.8em;
    }
    .centrar{
        display: flex;
        justify-content: center;
        margin-bottom: 6%;
        text-align: center;
    }
    .izquierda{
        text-align: left;
    }
    .activadoc{
        color: #006BF9 !important;
    }
    .activador{
        background: #006BF9 !important;
    }


    #contact-section .subtitle h3, #contact-section .subtitle h4{
        color: #006BF9;
    }


    /*Footer*/

    #footer .footer-company-logo{
        height: 150px;
    }
    #footer .footer-company-logo img{
        height: 150px;
    }
    #footer .footer-links{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px auto;
        padding: 0;
        width: fit-content;
        height: 50px;
    }
    #footer .footer-links li{
        margin: 0 10px;
    }
    #footer .footer-links li a{
        font-weight: 500;
        padding: 5px 10px;
        color: #FFFFFF5F;
    }
    #footer .footer-links li a:hover{
        color: #FFF;
    }


    #footer .footer-contact-info{
        margin-bottom: 20px;
    }
    #footer .footer-contact-info li, #footer .footer-contact-info li a{
        color: #FFFFFF5F;
        padding: 5px;
        font-size: 1.5rem;
    }

    #footer .bottom-footer{
        margin-top: 35px;
        margin-bottom:35px;
        display: flex;
        justify-content: space-between;
    }

    #footer .bottom-footer span{
        color: #FFFFFF5F;
        font-size: 1.6rem;
    }

    #footer .social-media-container{
        display: flex;
        flex-direction: row;

    }
    #footer .social-media-container li a{
        margin:0 10px;
        font-size: 25px;
        font-weight: 400;
        color: #FFFFFF5F;
        transition: 0.2s ease;
    }
    #footer .social-media-container li a:hover{
        color: #FFF;
    }


/*FIN*/



/*#####   FIN     #####*/